.listBooks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.card{
    margin-top: 1rem;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 1rem;
}

h1{
    text-align: center;
}

.loading{
    display: block;
    margin: 0 auto;
}